body
{
  font-family: Arial, sans-serif;
  background-color: #f3f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
}
  form
  {
    background-color: #21a7c8;
    padding: 35px 45px;
    border-radius: 40px;
    box-shadow:black;
    width: 550px;

  
  }
h2 /*for heading*/

{
    text-align: center;
    color: 25px 35px;
    margin-bottom: 20px;
}
 label
 {
    display: block;
    margin-bottom: 6px;
    color:black;
    font-weight: bold;
    font-size: small;

 }


 input[type="text"],
 input[type="email"],
 input[type="password"],
 input[type="date"],
 select 
 {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
 }
 .gender-group 
 {
    margin-bottom: 15px;
 }

.gender-group label
{
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
}

    
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: normal;
}

.terms input[type="checkbox"]{
    margin-right: right;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  /* Input Focus */
  input:focus, select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }
  
  /* Responsive Design */
  @media (max-width: 400px) {
    form {
      width: 90%;
    }
  }
    
